services:
  - type: web
    name: springboot-demo
    runtime: docker
    plan: free
    branch: main
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: JAVA_OPTS
        value: -Xmx512m
    healthCheckPath: /actuator/health
    autoDeploy: true